.App {
  background-image: url('https://wallpaperaccess.com/full/4540116.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}


button {
  background-color: #F5C518;
  color: #161616;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #F0B301;
}

   
