.App {
   text-align: center;
   background-color: #161616;
   color: #fff;
   min-height: 100vh;
   font-family: 'Open Sans', sans-serif;
 }
 
 nav {
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
   background-color: #ff9800;
 }
 
 nav a {
   color: #000000;
   text-decoration: none;
   font-weight: bold;
   font-size: 1rem;
   margin-right: 1rem;
 }
 
 nav a:last-of-type {
   margin-right: 0;
 }
 
 nav form {
   display: flex;
   align-items: center;
 }
 
 nav input {
   padding: 0.5rem;
   margin-right: 0.5rem;
   border-radius: 10px;
   border: none;
   outline: none;
 }
 
 nav button {
   background-color: #ffffff;
   color: #161616;
   border: none;
   padding: 0.5rem;
   border-radius: 100px;
   margin: 5px;
   cursor: pointer;
   outline: none;
   
 }
 
 .card {
   background-color: #ffffff;
   border-radius: 10px;
   padding: 1.5rem;
   margin-bottom: 2rem;
   box-shadow: 0px 4px 10px rgba(173, 144, 144, 0.973);
   transition: all 0.3s ease;
   margin: 2rem;
 }

   h2 {
     margin-bottom: 1rem;
     font-size: 1.5rem;
     font-weight: bold;
     color: #f8f8f8;
   }
 
  img {
     display: block;
     margin: 0 auto;
     max-width: 100%;
     height: auto;
     border-radius: 5px;
   }
 
   button {
     border: none;
     background-color: #ff385c;
     color: #fff;
     padding: 0.75rem 1rem;
     border-radius: 5px;
     font-size: 1rem;
     font-weight: bold;
     transition: all 0.3s ease;
     margin: 1rem;
 
   }
 
   .cards {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
    }
    
    .error {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-size: 4rem;
      font-weight: bold;
      color: #ff385c;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      text-align: center;
      text-transform: uppercase;
      background-image: url('https://images.unsplash.com/photo-1565299621653-fc5c0f6a956c');
      background-size: cover;
      background-position: center center;
      border: 5px solid #ff385c;
      padding: 2rem;
    }
    
    .error > p {
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: bold;
      color: #ff385c;
    }
 
 @media (min-width: 768px) {
   .App {
     justify-content: center;
     align-items: center;
   }
 
   nav {
     max-width: 1200px;
     margin: 0 auto;
   }
 
   .cards {
     max-width: 1200px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 2rem;
   }
 }
 
